.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# REMOVE depending on your org's practice
.swiftpm
.vscode
Package.resolved
testFolder/